.main-container-books {
    width: 100%;
}

.header-books {
    user-select: none;
    width: 95%;
    height: 30vh;
    border-radius: 25px;
    background: linear-gradient(rgba(32, 44, 57, 0.5), rgba(32, 44, 57,.5)), url(https://firebasestorage.googleapis.com/v0/b/eteslib.appspot.com/o/CroppedBooksHeader.jpg?alt=media&token=2e457fc5-6f01-487b-93db-d5f3cba2df55);
    background-size: cover;
}

.header-books h1 {
    color: white;
    margin-left: 2%;
    margin-bottom: 10px;
    text-shadow: 0 0 6px black;
}

.header-books p {
    color: white;
    margin-left: 2%;
    font-weight: normal;
    font-size: 20px;
    margin-top: 0;
    text-shadow: 0 0 6px black;
}

.footer-books {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.container-action-books {
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.logo-add-book {
    transform: scale(0.75);
    margin-bottom: 0;
}

.action-button-book {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    justify-content: center;
}

.action-button-book p {
    color: #272727;
    font-size: large;
    font-weight: bolder;
    margin: 5% 0 5% 0;
}

.action-button-book:hover {
    opacity: 0.75;
}

.action-button-book:active {
    opacity: 0.5;
}

.left-side-books-modal {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130%;
}

.left-side-books-modal p {
    color: #202c39;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 28px;
}

.left-side-books-modal input {
    width: 75%;
    border: 0;
    background: #202c39;
    height: 10%;
    border-radius: 25px;
    color: white;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 18px;
}

.left-side-books-modal input:focus {
    border: none;
    outline: none;
}

.left-side-books-modal select {
    width: 80%;
    border: 0;
    background: #202c39;
    height: 10%;
    border-radius: 25px;
    color: white;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 18px;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.left-side-books-modal input[type=number] {
    margin-top: 0;
}

.left-side-books-modal label {
    margin-top: 5%;
    margin-bottom: 1%;
    align-self: flex-start;
    margin-left: 15%;
}

.left-side-books-modal textarea {
    width: 80%;
    border: 0;
    background: #202c39;
    height: 10%;
    border-radius: 25px;
    color: white;
    margin-top: 5%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 18px;
}

.left-side-books-modal button {
    width: 60%;
    border: 0;
    background: transparent;
    border: 2px solid #202c39;
    height: 10%;
    border-radius: 25px;
    color: #202c39;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    font-size: 18px;
}

.left-side-books-modal button:hover {
    background-color: #202c3936;
}

.left-side-books-modal button:active {
    background-color: #202c397c;
}

.right-side-books-modal {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-display-books-modal {
    width: 200px;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 0;
}