.container-aoh {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.label-button-container-aoh {
    margin-top: 7%;
    margin-left: 7%;
}

.label-aoh {
    color: white;
    font-weight: bolder;
    font-size: large;
}

.button-aoh {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.button-aoh p {
    color: #272727;
    font-size: large;
    font-weight: bolder;
    margin: 5% 0 5% 0;
}

.button-aoh:hover {
    opacity: 0.75;
}

.button-aoh:active {
    opacity: 0.5;
}