.book-list-item-container {
    user-select: none;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    align-items: center;
    transition: 200ms;
}

.book-list-item-info-div {
    color: white;
    margin-left: 5%;
}

.book-list-item-info-div h4 {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.book-list-item-container:hover {
    transform: scale(1.1) translateX(50px);
    transition: 200ms;
}

.book-list-item-container:active {
    background-color: rgba(0, 0, 0, 0.25);
    transition: 10ms;
}