.navBar {
    background-color: #202c39;
    height: 60%;
    width: 80%;
    border-radius: 25px;
    position: relative;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10%;
}

.navBar li {
    width: 100%;
}

.nav-text-selected {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
    width: 100%;
}

.nav-text-selected a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    width: 95%;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    color: #fd644f;
    background-color: #272727;
    border-right-style: solid;
    border-color: #fd644f;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
    width: 100%;
}

.nav-logo {
    width: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    padding-bottom: 15%;
}

.nav-link {
    justify-content: space-between;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    width: 95%;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text:hover {
    background-color: #272727;
}

.nav-text a:active {
    transform: scale(0.9);
    transition: 150ms;
}